#conteiner {
    clear: both;
    width: 100%;
    margin: 0 auto;
}

#head{
	background-color: #28824a;
    height: 127px;
    width: 100%;
	margin: 0;
	clear: both
}

.button{
    background-color: #206139;
	border: none;
	position: relative;
	top: 68px;
	margin-left: 50px;
    width: 250px;
	padding-top: 30px;
	padding-bottom: 5px;
	text-align: center;
	border-radius: 5px;
	float: left;
	font-size: 15pt;
	text-decoration: none;
	color: white;
	cursor: pointer;
	display: inline-block;
}

.button:hover{
	background-color: #24693f;
}

.button:active{
	background-color: #205a36;
}

a{
	text-decoration: none;
	color: white;
}

#body{
	height: 700px;
	clear: both;
}

#foot{
	background-color: #28824a;
    height: 127px;
    width: 100%;
	margin: 0;
	clear: both
}

.contact{
	margin-left: 700px;
    width: 250px;
	text-align: center;
	float: left;
	color: white;
}

.social{
width: 250px;
text-align: center;
float: left;
color: white;
}

.link{
font-size: 12pt
}

.one{
	width: 1650px;
	height: 500px;
	background-color: #8e8e8e;
	float: left;
	position: relative;
	margin-left: 100px;
	top: 80px;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 14pt;
}

.big{
	font-size: 20pt;
	position: relative;
	top: 10px
}

.text{
	text-align: center;
	margin-left: 300px;
	width: 1300px;
	font-size: 23pt;
	color: #666666;
	position: relative;
	top: 40px
}

.kartinka{
	width: 500px;
	border: 5px solid white;
}

.plus{
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	width: 500px;
	font-size: 18pt;
}
/* CSS Document */

